html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu * {
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu>* {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed>* {
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

.header__desk--absolute {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #BEBEBE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header__desk {
    position: static;
    background-color: var(--black-bg);
}

#home {
    background-color: #1B1B1B;
    background-image: url('../img/home/bgCurves.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home__hero {
    position: relative;
}

.home__hero--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
}

.home__hero--text h2 {
    font-size: var(--text-xl) !important;
}

.home__hero--text img {
    width: 100%;
}

#carouselHero .splide__pagination {
    display: none;
}

.home__hero--text h2 {
    font-size: var(--text-md) !important;
}

#cuchilloNosotros {
    display: none;
    width: 100%;
    max-width: 48px;
    margin: 0 auto;
}

#cuchilloNosotros90 {
    display: block;
    width: 80%;
    max-width: 320px;
    margin: 0 auto;
}

#sectionQuote {
    background-image: url('../img/home/bgQuote.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.restaurantes__item {
    position: relative;
}

.restaurantes__back {
    filter: grayscale(0);
    transition: filter 0.6s ease-in-out;
}

.restaurantes__item:hover .restaurantes__back {
    filter: grayscale(0.95);
    transition: filter 0.3s ease-in-out;
}

.restaurantes__logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.restaurantes__item:hover .restaurantes__logo {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 32px 12px;
}

.hero--nuestrosRestaurantes {
    background-image: url('../img/nuestrosRestaurantes/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nrestaurantes__grid {
    display: grid;
    grid-template-columns: 1fr;
}

.nrestaurantes__itm {
    padding: 24px 32px;
}

.nrestaurantes__itm>div {
    border: 1px solid var(--orange);
    padding: 48px;
}

.nrestaurantes__grid .nrestaurantes__itm {
    position: relative;
    border-bottom: 1px solid var(--orange);
}

.nrestaurantes__grid .nrestaurantes__itm:last-child {
    border-bottom: none;
}

.hero--uneteEquipo {
    background-image: url('../img/uneteEquipo/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero--contacto {
    background-image: url('../img/contacto/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero--acerca {
    background-image: url('../img/acerca/hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




@media (min-width: 520px) {
    .home__hero--text h2 {
        font-size: var(--text-xl) !important;
    }
}

@media (max-width: 766px) {
    .nrestaurantes__grid .nrestaurantes__itm::before {
        content: "";
        position: absolute;
        bottom: -5px;
        right: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }
    
    .nrestaurantes__grid .nrestaurantes__itm::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }
    
    .nrestaurantes__grid .nrestaurantes__itm:last-child::before {
        display: none;
    }
    
    .nrestaurantes__grid .nrestaurantes__itm:last-child::after {
        display: none;
    }
}

@media (min-width: 767px) {
    .home__hero--text h2 {
        font-size: var(--text-2xl) !important;
    }

    .home__hero--text img {
        width: 60%;
    }

    #cuchilloNosotros {
        display: block;
    }

    #cuchilloNosotros90 {
        display: none;
    }

    .hero {
        padding: 148px 64px;
    }

    .nrestaurantes__grid {
        grid-template-columns: 1fr 1fr;
    }

    .nrestaurantes__grid .nrestaurantes__itm {
        border-bottom: none;
    }

    .itm--1 {
        border-right: 1px solid var(--orange);
        border-bottom: 1px solid var(--orange);
        position: relative;
    }

    .itm--1::before {
        content: "";
        position: absolute;
        top: -4px;
        right: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }

    .itm--1::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }

    .itm--2 {
        border-left: 1px solid var(--orange);
        border-bottom: 1px solid var(--orange);
    }

    .itm--3 {
        border-right: 1px solid var(--orange);
        border-top: 1px solid var(--orange);
    }

    .itm--4 {
        position: relative;
        border-left: 1px solid var(--orange);
        border-top: 1px solid var(--orange);
    }

    .itm--4::before {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }

    .itm--4::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: -5px;
        width: 8px;
        height: 8px;
        background-color: var(--orange);
        border-radius: 50%;
    }


}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}